[submodule "axiom"]
	path = external/axiom
	url = https://github.com/Avergreen16/Axiom
[submodule "asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "lua"]
	path = external/lua
	url = https://github.com/lua/lua.git
[submodule "xsimd"]
	path = external/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "json"]
	path = external/json
	url = https://github.com/nlohmann/json.git